# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
credential.json
credentials.json
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Coverage directory used by tools like istanbul
coverage/

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components/

# Compiled source
dist/
build/

# Misc
.DS_Store
Thumbs.db

# Optional stylelint cache
.stylelintcache

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# HTML and CSS specific
*.html
*.css.map
*.css

# Frontend frameworks and libraries
/.next/
/out/
/.nuxt/
/dist/
/build/
/public/

# Testing
/coverage/
/.nyc_output/
/cypress/screenshots/
/cypress/videos/
/credentials.json
/credential.json
/google-api-*.json
/cypress/reports/

/.parcel-cache/
/.rollup.cache/
/.sass-cache/
/.cache/
/.storybook/

# Miscellaneous
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
.env.*.local
